*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}
/* .container{
    width: 100vw;
    height: 100vh;
} */
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* font-family: 'DM Sans', sans-serif; */
    /* background-image: url(./assets/Front-page.svg); */
    position: absolute;
    /* left: 540px; */
    bottom: 10px;
    width: 100vw;
    height: 100vh;
    
}
h2{
    padding-bottom: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
.first-name{
    /* margin-top: 2%; */
    border-radius: 3px;
}
.email{
    padding: 10px 0;
}
.password{
    padding-top: 10px;
    padding-bottom: 5%;
}
button{
    /* padding-top: 10%; */
    padding: 12px 100px;
    font-weight: 700;
    color: white;
    background-color: #C89E85;
    border: 1px solid #C89E85;
    border-radius: 8px;
}
button:hover{
    color: #C89E85;
    background-color: #fff;
}
p{
    padding-top: 40px;
}
div i{
    padding: 0 10px;
    padding-top:10px ;
}
.container img{
    display: block;
    margin: auto;
    width: 100vw;
    /* height: 100vh; */
}
/* for increase size  */
.name{
    padding: 10px 40px;
    border-radius: 8px;
    border: 2px solid white;
}
.social{
    display: flex;
    margin-top: 15px;
    gap: 30px;
}
.social img{
   
    height: 60px;
    width: 75px;
}
/* .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    background-color: #fff;
} */
/* .options img{
    width: 80px;
} */
p{
    font-size: 15px;
}
