/* *::after,
*::before, */
*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;  
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-image: url(./assets/bgImage.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimage img{
    display: block;
    margin: auto;
    /* height: 100vh; */
    width: 100vw;
    position: absolute;
 }

 .head{
    background-color: #C89E85;
    width: 100vw;
    height: 80px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 26px;
    
}
/* .logo,.logo:link,.logo:visited{
    font-family: 'Gilroy';
    color: #FFBA5B;
    font-size: 38px;
    text-decoration: none;
}
.logo:active{
    scale: 1.08;
} */
.hamburger{
    font-size: 34px;
}
/* .humburger i{
    position: relative;
    right: 10px;
} */

h1{
    margin-top: 1.5rem;
}

.search-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 35px; */
}
.search{
    padding: 8px 60px;
    border: 2px white;
    border-radius: 15px;
    margin-bottom: 4px;
}
.search-box i{
    position: relative;
    top: 25px;
    right: 110px;
}
.box{
    margin-top: 20px;
    /* padding: 10px 10px; */
    padding: 15px;
    /* overflow: hidden;  */
    height: 100px;
    width: 320px;
    background: #ffffffc8;
    border-radius: 10px;
    border: 1px white solid;

}
/* .box1{
    height: 80px;
    width: 280px;
    background: #FFFCFCCC;
    border-radius: 10px;
    border: 1px white solid;

}
.box2{
    height: 80px;
    width: 280px;
    background-color: #FFFCFCCC;
    border-radius: 10px;
    border: 1px white solid;
    
}
.box3{
    height: 80px;
    width: 280px;
    background-color: #FFFCFCCC;
    border-radius: 10px;
    border: 1px white solid;
}
.box4{
    height: 80px;
    width: 280px;
    background-color: #FFFCFCCC;
    border-radius: 10px;
    border: 1px white solid;
}
.box5{
    height: 80px;
    width: 280px;
    background-color: #FFFCFCCC;
    border-radius: 10px;
    border: 1px  white solid;
} */
.venues{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    
}

/* .venues::-webkit-scrollbar {
    display: none;
  } */

p{
    font-size: 12px;
}
b{
    padding-top:15px ;
}

h4{
    margin-bottom: 3px;
}