*{
    margin: 0;
    padding: 0;
}
form{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    background-image: url("Front-page.svg");
    position: absolute;
    left: 540px;
    bottom: 100px;
    
}
h2{
    padding: 25% 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
.first-name{
    /* margin-top: 2%; */
    border-radius: 3px;
}
.email{
    padding: 10px 0;
}
.password{
    padding-top: 10px;
    padding-bottom: 10%;
}
button{
    padding-top: 20%;
    padding: 12px 115px;
    font-weight: 700;
    color: white;
    background-color: #C89E85;
    border: 1px solid #C89E85;
    border-radius: 8px;
}
button:hover{
    color: #C89E85;
    background-color: #fff;
}
p{
    padding-top: 40px;
}
div i{
    padding: 0 10px;
    padding-top:10px ;
}
.header img{
    display: block;
    margin: auto;
    position: relative;
}
/* for increase size  */
.name{
    padding: 10px 55px;
    border-radius: 8px;
    border: 2px solid white;
}